<%= form_with(model: [:internal, @namespace, @document]) do |f| %>
  <header class="flex">
    <div class="flex-1 mr-2">
      <div class="form-field form-field--inline">
        <%= f.label :parent_id, 'Parent', class: 'form-field__label' %>
        <%= f.select :parent_id, document_tree_options_array_for(@document.namespace, @document, include_blank: true), {}, class: 'form-field__input' %>
      </div>

      <div class="form-field form-field--inline">
        <%= f.label :position, class: 'form-field__label' %>
        <%= f.number_field :position, class: 'form-field__input' %>
      </div>

      <div class="form-field form-field--inline">
        <%= f.label :editable_slug, 'Slug', class: 'form-field__label' %>
        <%= f.text_field :editable_slug, class: 'form-field__input' %>
      </div>
    </div>

    <div class="flex-initial">
      <%= f.button class: 'btn btn--action' %>
    </div>
  </header>

  <div class="document mx-auto w-192">
    <div class="">
      <%= f.text_area :title, placeholder: 'Untitled', rows: 1, class: 'form-field__input document__title w-full' %>
    </div>

    <div id="curaga-editor">
      <%= f.hidden_field :content %>
    </div>
  </div>
<% end %>

