<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'editor', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'document', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-black">
    <% if current_user %>
    <div class="p-6 text-xs text-right">
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn' %>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
