<!DOCTYPE html>
<html>
  <head>
    <title>Untitled</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'document', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="table w-full h-screen">
      <div class="table-row">
        <div class="table-cell bg-black text-gray-500 w-72 p-6">
          <h2 class="text-sm uppercase font-bold mb-2">Documents</h2>

          <% @docs.each do |doc| %>
            <div>
              <%= link_to doc.title, namespace_doc_path(@namespace, doc), class: 'hover:text-white' %>
            </div>
          <% end %>
        </div>

        <div class="table-cell bg-gray-900 text-gray-200 p-6">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
